<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.ac.sun.cs.hons.minke"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <permission
        android:name="za.ac.sun.cs.hons.minke.permission.UPDATE_LOCATION"
        android:description="@string/update_location_desc"
        android:label="@string/update_location"
        android:permissionGroup="android.permission-group.LOCATION"
        android:protectionLevel="normal" />
    
    <instrumentation
        android:targetPackage="za.ac.sun.cs.hons.minke"
        android:name="android.test.InstrumentationTestRunner" />

    <uses-permission android:name="za.ac.sun.cs.hons.minke.permission.UPDATE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:name=".MinkeApplication"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <uses-library android:name="com.google.android.maps" />

        <service
            android:name=".services.UpdateService"
            android:label="@string/update"
            android:process=":update_process" >
        </service>
        <service android:name="com.littlefluffytoys.littlefluffylocationlibrary.LocationBroadcastService" />

        <receiver android:name=".receivers.ScheduleReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.UpdateServiceReceiver" >
        </receiver>
        <receiver android:name=".receivers.LoadLocalReceiver" >
        </receiver>
        <receiver
            android:name="com.littlefluffytoys.littlefluffylocationlibrary.StartupBroadcastReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.littlefluffytoys.littlefluffylocationlibrary.PassiveLocationChangedReceiver"
            android:exported="true"
            android:permission="za.ac.sun.cs.hons.minke.permission.UPDATE_LOCATION" />
        <receiver
            android:name="com.littlefluffytoys.littlefluffylocationlibrary.StartupBroadcastReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.LocationBroadcastReceiver"
            android:permission="za.ac.sun.cs.hons.minke.permission.UPDATE_LOCATION" >
            <intent-filter>
                <action
                    android:name="mobi.littlefluffytoys.littlefluffytestclient.littlefluffylocationlibrary.LOCATION_CHANGED"
                    android:exported="false" />
            </intent-filter>
        </receiver>

        <activity android:name=".gui.HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.create.NewProductActivity" />
        <activity android:name=".gui.create.NewBranchActivity" />
        <activity android:name=".gui.shop.ShopFragment" />
        <activity android:name=".gui.shop.StoreFragment" />
        <activity android:name=".gui.shop.ShopListActivity" />
        <activity android:name=".gui.browse.BrowseFragment" />
        <activity android:name=".gui.browse.ProductSearchFragment" />
        <activity android:name=".gui.browse.LocationSearchFragment" />
        <activity android:name=".gui.graph.GraphActivity" />
        <activity
            android:name=".gui.maps.nutiteq.NutiteqMapsActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".gui.maps.google.GoogleMapsActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".gui.prefs.SettingsActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
    </application>

</manifest>