<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.ac.sun.cs.hons.minke"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <permission
        android:name="za.ac.sun.cs.hons.minke.permission.UPDATE_LOCATION"
        android:description="@string/update_location_desc"
        android:label="@string/update_location"
        android:permissionGroup="android.permission-group.LOCATION"
        android:protectionLevel="normal" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="za.ac.sun.cs.hons.minke" />

    <uses-permission android:name="za.ac.sun.cs.hons.minke.permission.UPDATE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:name=".MinkeApplication"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <uses-library android:name="com.google.android.maps" />
        <uses-library android:name="android.test.runner" />

        <service
            android:name=".services.ScheduledUpdateService"
            android:label="@string/scheduled_update"
            android:process=":scheduled_update_process" >
        </service>
        <service
            android:name=".services.UpdateService"
            android:label="@string/update"
            android:process=":update_process" >
        </service>

        <receiver android:name=".receivers.ScheduleReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.UpdateServiceReceiver" >
        </receiver>

        <activity
            android:name=".gui.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.HomeActivity"
            android:launchMode="singleTop" >
        </activity>

        <fragment android:name=".gui.scan.NewProductFragment" />
        <fragment android:name=".gui.scan.NewBranchFragment" />
        <fragment android:name=".gui.scan.ScanFragment" />
        <fragment android:name=".gui.shop.ShopFragment" />
        <fragment android:name=".gui.shop.StoreFragment" />
        <fragment android:name=".gui.browse.BrowseFragment" />
        <fragment android:name=".gui.browse.ProductSearchFragment" />
        <fragment android:name=".gui.browse.LocationSearchFragment" />

        <activity
            android:name=".gui.chart.ChartActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".gui.maps.MapsActivity" />
        <activity android:name=".gui.prefs.SettingsActivity" >
        </activity>
    </application>

</manifest>